@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100%;
    width: 100%;
    background-color: rgb(226, 226, 226);
    /* font-family: 'Open Sans Condensed', sans-serif; */
    font-family: 'Nunito', sans-serif;
    position: relative;
}

.account-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    position: relative;
}

.search-box {
    display: inline-block;
}

.search-box input[type=search] {
    float: right;
    padding: 8px 25px 8px 20px;
    border: none;
    align-items: center;
    margin-right: 36px;
    font-size: 16px;
}

.result {
    z-index: 9999;
    width: 15%;
    color: rgb(146, 146, 146);
    position: absolute;
    top: 100px;

}

.result a {
    background-color: rgb(116, 116, 116);
    display: block;
    font-size: 15px!important;
}


a#logo {
    text-decoration: none;
    color: snow;
}

#closeButton {
    background-color: transparent;
    position: absolute;
    border: none;
    color: snow;
    top: 10px;
    right: 10px;
    opacity: .7;
}

#closeButton:hover {
    opacity: 1;
}

#modal {
    display: none;
    background-color: rgba(64, 109, 51, 0.897);
    color: snow;
    position: absolute;
    top: 25%;
    left: 35%;
    z-index: 1000;
    height: 250px;
    width: 500px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.637);
}

#modal h3 {
    margin-top: 20px;
    font-size: 25px;
    padding: 10px 50px;
}

#modal h5 {
    margin-top: 15px;
}

.fa-info-circle {
    color: #ffffff !important;
    opacity: 1 !important;
    width: 50px !important;
}

#blackout {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.692);
    position: absolute;
    z-index: 999;
    display: none;
}

.header-container {
    /* z-index: 999;
    position: fixed; */
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #1d4646;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.85);
}

header {
    width: 90%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: snow;
}

.header-container h1 {
    font-weight: normal;
    letter-spacing: 1px;
    word-spacing: 10px;
}

.buttons-container {
    width: auto;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    color: snow;
    padding: 12px 40px;
    border: 2px solid snow;
    border-radius: 10px;
    margin-right: 15px;
    transition: all 0.2s ease-out;
    font-weight: 700;
}

a:hover,
.confirm {
    text-decoration: none;
}

.warning {
    color: #1d4646;
    border: 1.5px solid #1d4646;
}

.warning:hover {
    background-color: rgb(215, 224, 87);
    color: #1d4646;
    border: 1.5px solid rgb(215, 224, 87);
}

.danger {
    border: 1.5px solid rgb(230, 91, 91);
}

.danger:hover {
    background-color: rgb(230, 91, 91);
    color: snow;
}

.cancel {
    color: #1d4646;
    padding: 12px 20px 12px 40px;
}

.cancel:hover {
    background-color: rgba(230, 91, 91, 0.267);
    color: snow;
}

.back {
    color: snow;
    background-color: #1d4646;
}

.back:hover {
    color: snow;
    background-color: #1d46468c;
}

#yes-btn {
    background-color: rgba(255, 250, 250, 0.425);
    color: #1d4646 !important;
    padding: 12px 40px;
    width: auto;
}

#yes-btn:hover {
    color: snow !important;
    background-color: rgb(230, 91, 91);
}


.confirm {
    font-weight: 700;
    letter-spacing: .4px;
    color: #1d4646;
    border: 1.5px solid #1d4646;
    background-color: transparent;
}

.confirm:hover {
    color: snow;
    background-color: #1d4646 !important;
    border: 1.5px solid #1d4646;
}

.student-details {
    display: flex;
    justify-content: space-between;
    min-width: 750px;
    /* margin-top: 50px; */
}

.table-container {
    min-height: calc(100vh - 7.75rem);
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.form-container {
    min-height: calc(100vh - 100px);
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* */
}

#grade option {
    height: 50px;
}

.mg-25 {
    margin-top: 25px;
}

.col-sm {
    margin-top: 20%;
}


#grader-table {
    background-color: snow;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.274);
    min-width: 750px;
    margin-bottom: 100px;
}

hr {
    min-width: 750px;
    border: none;
    height: .2px;
    /* Set the hr color */
    color: #333;
    /* old IE */
    background-color: rgb(100, 100, 100);
    /* Modern Browsers */
}

th {
    background-color: #1d4646;
    color: snow;
}

th,
td {
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.404);
}

tr:nth-child(even) {
    background-color: #ebebeb;
}

i.far,
i.fas {
    width: 35px;
    margin-right: 5px;
    color: #1d4646;
    opacity: .8;

}

i.far:hover,
i.fas:hover {
    opacity: 1;
    transform: scale(1.3);
}

i.fa-chevron-circle-down {
    color: snow;
}

i.fa-undo {
    margin-left: 10px;
    transition: all .3s ease-out;
}

.cancel:hover i.fa-undo {
    color: whitesmoke;

}

i.fa-undo:hover {
    transform: scale(1);

}

.delete-student-container {
    min-width: 750px;
    background-color: rgba(211, 132, 132, 0.363);
    height: 200px;
    border: 1.5px solid rgb(211, 132, 132);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

/* UPDATE form */


.form-update {
    min-width: 750px;
    background-color: #1d46461f;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    margin-bottom: 50px;
    /* text-align: center; */
}

.delete-student {
    text-align: center;
}

.view-bold {
    font-weight: 900;
}

.form-group {
    width: 700px;
    margin: 10px 0;
}

select#grade,
select#course {
    padding: 10px 40px 10px 20px;
    margin: 10px 0;
    width: 100%;
    margin-bottom: 40px;
    color: gray!important;
}

::-webkit-input-placeholder {
    color: gray;
}

select#grade {
    color: gray;
}

.mg-btm {
    margin-bottom: 50px;
}

select#course {
    margin-bottom: 0;
}

select:invalid {
    color: gray;
}

.form-update input {
    padding: 10px 20px 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
}

/* Dropdown Button */
.dropbtn {
    background-color: #46271d;
    color: white;
    padding: 16px;
    min-width: 200px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 50px;
    margin-right: 20px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #5e5e5e; */
    background-color: #3e4949;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a,
.result a {
    color: rgb(255, 255, 255);
    padding: 12px 18px;
    text-decoration: none;
    display: block;
    font-size: 15px;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover,
.result a:hover {
    color: #1d4646;
    background-color: snow;

}

.activeA {
    color: #1d4646;
    background-color: rgba(255, 250, 250, 0.363);
}

.logout {
    background-color: rgba(255, 99, 71, 0.473);
}

span.help-block {
    color: red;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    /* background-color: #2b2b50; */
    background-color: #a3624c;
    border: 1px solid whitesmoke !important;
}

.dropbtn:hover i.fa-chevron-circle-down {
    opacity: 1;
    transform: scale(1.3);
    transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.logout:hover i.fa-sign-out-alt {
    color: rgb(168, 47, 47);
    transform: scale(1);
}

.logout:hover {
    transform: scale(1);
}

/* Dropdown button finish */

.delete-student {
    height: 85%;
    width: 100%;
}

.delete-student h5 {
    margin-top: 25px;
    margin-bottom: 55px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #1d4646;
    position: absolute;
    color: snow;
    /* bottom: -50px; */
    bottom: 0;
    /* margin-top: 100px; */
}

footer p {
    margin-bottom: 0 !important;
    font-weight: 200;
}